.App {
  text-align: center;
}

.center{
  text-align: center;
}

.blue{
  color: #1f83bd;
}

.ubunto{
font-family: 'Ubuntu', sans-serif;
}

.lato{ 
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  
}

.flex .btn { 
  background-color: #1f83bd;
}

.end{
  display: flex;
  justify-content:center;
  align-items:end;
}

.end button {
  height: 38px;
  width: 95px;
  background-color: #1f83bd;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:#1f83bd;
}

#hero{
  background: url(../src/images/budget.jpeg);
  min-height: 80vh;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
}

.heroText{
  font-size:55px;
  color: white;
  text-shadow: 3px 3px black;
  font-family: 'Lato', sans-serif;
}

#cards{
  display:flex;
  flex-wrap: wrap;
  flex: 25%;
  height: 80vh;
}

.card {
  height: 100%;
}

.logospan{
  color:#1f83bd;
}

.login{
  background:none;
  border: none;
  color: white;
}

.title{
  font-size:55px;
  color: #1f83bd;
  text-shadow: 3px 3px black;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.card-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.navbar a, .navbar button, .navbar div{
  font-family: 'Lato', sans-serif;
}

.container-fluid{
  justify-content: flex-start!important;
}
